/bin/
/target/
**/cert
**/cred
certs/*.crt
certs/*.key
cred/*.props
certs/*.crt
certs/*.key
certs/*.pem
certs/*.props
*.crt
*.key
*.csr
*.srl
cred/*.props

.vscode/
certs/
gatewaydevice001-*/
*.crt
*.key
*.csr
*.srl
cred/*.props
